@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: url('images/bg-pattern-bottom.svg') bottom -600px right -150px
      no-repeat,
    url('images/bg-pattern-top.svg') top -500px left -200px no-repeat;
  background-color: var(--Dark-cyan);
  background-size: contain;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

.flex {
  display: flex;
}
.flex > div {
  flex: 1;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
h2,
h3 {
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
}
span,
p {
  color: var(--Dark-gray);
  font-weight: 700;
}

span {
  margin-left: 10px;
}
.info-box {
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.15);
}

.info-box img {
  object-fit: cover;
  width: 100%;
  vertical-align: middle;
}
.info-content {
  background-color: #ffffff;
  padding: 0 40px 20px;
  margin-top: 60px;
  text-align: center;
}
.info-content::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(300px);
}
.info-img-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
  position: absolute;
  top: 90px;
  left: 135px;
  margin-bottom: 30px;
}
.info-content > p {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  body {
    background: url('images/bg-pattern-bottom.svg') bottom -489px right -653px
        no-repeat,
      url('images/bg-pattern-top.svg') top -334px left -720px no-repeat;
    background-color: var(--Dark-cyan);
    background-size: cover;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
}
